include INSTALL
include LICENSE
include MANIFEST.in
include NOTES
include README.rst
recursive-include docs *.rst *.py Makefile
recursive-include mptt *.json
recursive-include mptt/templates *
recursive-include mptt/locale *
recursive-include mptt/static *
global-exclude __pycache__ *.pyc
