{% extends "admin/change_list.html" %}
{% load admin_list i18n staticfiles %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'mptt/draggable-admin.css' %}">
<script src="{% static 'mptt/jquery-ui-1.11.4.custom.min.js' %}"></script>
<script id="draggable-mptt-admin-script"
        type="text/javascript"
        src="{% static 'mptt/draggable-admin.js' %}"
        data-context="{{ draggable_mptt_admin_context.context }}"></script>
{% endblock %}

{% block filters %}
  <div id="changelist-filter">
    <h2>{% trans 'Shortcuts' %}</h2>
    <ul>
      <li><a id="collapse_entire_tree" href="#">{% trans 'Collapse tree' %}</a></li>
      <li><a id="open_entire_tree" href="#">{% trans 'Expand tree' %}</a></li>
    </ul>

    {% if cl.filter_specs %}
      <h2>{% trans 'Filter' %}</h2>
      {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    {% endif %}
  </div>
{% endblock %}
