{% extends "admin/change_list.html" %}
{% load admin_list i18n staticfiles %}

{% block extrahead %}
{{ block.super }}
<style>
.field-tree_actions {
  width: 50px;
  padding: 2px;
}

.field-tree_actions > div {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin: 7px 2px 0 0;
}

.tree_marker { cursor: pointer; }
.tree_marker.children { background-image: url({% static 'mptt/disclosure-down.png' %}); }
.tree_marker.closed { background-image: url({% static 'mptt/disclosure-right.png' %}); }

.drag_handle { background-image: url({% static 'mptt/arrow-move.png' %}); cursor: move; }

/* the div visualizes the tree structure by pushing the title a bit */
.field-indented_title a > div { display: inline-block; height: 1px; }

/* focus */
#result_list tbody tr:focus {
  background-color: #79aec8 !important; outline: 0px; color: #fff; }
#result_list tbody tr:focus .field-indented_title a { color: #fff; }

#drag_line {
  position: absolute;
  height: 3px;
  font-size: 0px;
  background-color: #417690;
}

#drag_line:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 9px;
  width: 9px;
  background: #417690;
  margin: -3px 0 0 -9px;
  border-radius: 9px;
}
</style>
<script type="text/javascript">
  var TreeEditor = {
    cookieName: '{{ tree_editor_cookie_name }}',
    treeStructure: {{ tree_structure|default:"{}" }},
    nodeLevels: {{ node_levels|default:"{}" }}
  };
  /* jQuery UI requires window.jQuery */
  window.jQuery = django.jQuery;
</script>
<script src="{% static 'mptt/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mptt/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'mptt/tree_editor.js' %}"></script>
{% endblock %}


{% block filters %}
  <div id="changelist-filter">
    <h2>{% trans 'Shortcuts' %}</h2>
    <ul>
      <li><a id="collapse_entire_tree" href="#">{% trans 'Collapse tree' %}</a></li>
      <li><a id="open_entire_tree" href="#">{% trans 'Expand tree' %}</a></li>
    </ul>

    {% if cl.filter_specs %}
      <h2>{% trans 'Filter' %}</h2>
      {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    {% endif %}
  </div>
{% endblock %}
